body {
    min-width: 300px;
}

md-toolbar {
    margin-top: -10px;
}

md-toast {
    margin-left: 100px;
    height: 51px;
    width: 200px;
}



.sceneName {
    margin-left: 10px;
}

.scene-dom {
  /* Add some right padding so that the text doesn't overlap the buttons */ }
.scene-dom md-icon {
    color: blue;
}
  .scene-dom md-divider {
    margin-top: 0;
    margin-bottom: 0; }
  .scene-dom md-list {
    padding-top: 0; }
  .scene-dom md-list-item > p,
  .scene-dom md-list-item > ._md-list-item-inner > p,
  .scene-dom md-list-item ._md-list-item-inner > p,
  .scene-dom md-list-item ._md-list-item-inner > ._md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .scene-dom .secondary-button-padding p {
    padding-right: 100px; }

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
